[submodule "librime"]
	path = librime
	url = https://github.com/zhangkaiser/librime-wasm.git
[submodule "shuangpin"]
	path = shuangpin
	url = https://github.com/zhangkaiser/chromeos-shuangpin-ime.git
